@font-face {
    font-family: 'FuturaFuturisC';
    src: url('../fonts/futurafuturisc.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/futurafuturisc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/futurafuturisc.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/futurafuturisc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/futurafuturisc.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/futurafuturisc.svg#futurafuturisc') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futurademic.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/futurademic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/futurademic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/futurademic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/futurademic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/futurademic.svg#futurademic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    -webkit-tap-highlight-color: transparent;
}



* {
    box-sizing: border-box;
    font-family: 'FuturaFuturisC';
}

p {
    margin: 0;
}

body {
    margin: 0;
    background-color: #F2F2F4;
}

header {
    position: relative;
    min-height: 850px;
    width: 100%;
    padding-bottom: 1px;
    background-image: url("../images/headerBackground.png");
    background-size: cover;
    background-color: #07086C;
    background-clip: content-box;
    overflow: hidden;
}

header::after {
    position: absolute;
    content: '';
    bottom:0;
    right: 0;
    height: 60px;
    width: 100%;
    min-width: 1920px;
    background-image: url("../images/backgroundWave.svg");
    background-repeat: no-repeat;
    background-size: 100% 60px;
}

nav {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    flex-grow: 1;
    gap: 0 10px;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.phone-number {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.phone-number img {
    margin-right: 10px;
}

.nav-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 34px auto 0;
    padding: 20px;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
}

.mobile-nav-container {
    display: none;
    padding: 20px;
}

.nav-container.sticky {
    background-color: #07086C;
}

.header-main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    max-width: 1320px;
    margin: 220px auto 0;
    padding: 0 20px 60px;
    z-index: 1;
}

.header-title {
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
}

.header-title span:nth-child(1) {
    font-size: 69px;
}

.header-title span:nth-child(3) {
    font-family: 'FuturaDemiC';
    font-size: 59px;
    color: #969AF7;
    text-transform: none;
}

.header-title span:nth-child(5) {
    font-size: 62px;
}

.header-subtitle {
    font-size: 23px;
    color: #969AF7;
    margin-top: 4px;
}

.header-benefits {
    width: 100%;
    max-width: 836px;
    margin-top: 36px;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(150, 154, 247, 0.3) 0%, rgba(150, 154, 247, 0) 100%);
}

.header-benefits_item {
    display: flex;
    gap: 0 14px;
    font-size: 22px;
    color:#fff;
}

.header-benefits_item:not(:last-child) {
    margin-bottom: 6px;
}

.feedback-form {
    width: 380px;
    max-width: 100%;
    align-self: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}


.feedback-form_header {
    color:#fff;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, #6A32B4 0%, #552693 100%);
}

.feedback-form_wrapper {
    padding: 30px 40px 36px;
    background-color: #fff;
}

.feedback-form_wrapper label {
    display: block;
    margin: 0 0 4px 20px;
    font-family: 'FuturaBookC';
    font-size: 18px;
    color: #626366;
}

.feedback-form_wrapper input {
    width: 100%;
    font-size: 20px;
    padding: 18px 20px;
    background-color:  #F5F3FF;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1) inset;
}

.feedback-form_wrapper input::placeholder {
    font-family: 'FuturaBookC';
    color: #BCBFC4;
}

.feedback-form_wrapper button {
    width: 100%;
    margin-top: 22px;
    text-align: center;
    padding: 18px 0;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #FFA500;
}

.form-field {
    margin-bottom: 12px;
}

.feedback-form_wrapper_info-msg {
    display: flex;
    gap: 0 10px;
    font-size: 14px;
    color: #C0C0C0;
    margin-top: 16px;
}

.feedback-form_wrapper_info-msg p {
    font-family: 'FuturaBookC';
}


.benefits-section {
    max-width: 1320px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.benefits-section h2 {
    font-size: 45px;
    color:#111111;
    text-align: center;
    margin: 0;
}

.benefits-section_subtitle {
    font-family: 'FuturaBookC';
    font-size: 22px;
    color:#030303;
    text-align: center;
    margin-top: 24px;
    padding: 0 65px;
}

.benefits-section_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 40px;
    margin-top: 40px;
}

.benefits-section_benefit-card {
    width: calc(33% - 28px);
    text-align: center;
    padding: 40px 32px;
    background-image: url("../images/benefits/cardBackground.svg");
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
}

.benefit-card_title {
    font-size: 20px;
    color:#2A336C;
    margin-top: 40px;
}

.benefit-card_text {
    font-family: 'FuturaBookC';
    font-size: 20px;
    color:#555555;
    margin-top: 14px;
    text-align: center;
}

.manufacturers-section {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 728px;
    margin-top: 130px;
    background-image: url("../images/manufacturersBackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0809A7;
    background-blend-mode: lighten;
    overflow: hidden;
    position: relative;
}

.manufacturers-section::before {
    content: ' ';
    position: absolute;
    width: 100%;
    min-width: 1920px;
    height: 60px;
    background-image: url("../images/backgroundWave2.svg");
    background-position: top right;
    background-size: 100% 60px;
    top: 0;
    right: 0;
    z-index: 1;
}

.manufacturers-section::after {
    content: ' ';
    position: absolute;
    width: 100%;
    min-width: 1920px;
    height: 60px;
    background-image: url("../images/backgroundWave.svg");
    background-position: bottom right;
    background-size: 100% 60px;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.manufacturers-section_container {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    padding: 70px 20px;

}

.manufacturers-section_container h2 {
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.manufacturers-section_container p {
    font-family: 'FuturaBookC';
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin: 42px 0 0;
}

.swiper-container {
    position: relative;
    margin-top: 56px;
}

.swiper {
    width: 100%;

}

.swiper .swiper-slide {
    height: 174px;
    padding: 0 20px;
}

.swiper-slide_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.manufacturers-section_container .swiper-button-prev {
    left: -50px;
    user-select: none;
}

.manufacturers-section_container .swiper-button-next {
    right: -50px;
    user-select: none;
}

.manufacturers-section_container .swiper-button-next:focus-visible {
    outline: none;
}


.manufacturers-section_container .swiper-button-prev::after {
    content: url("../icons/sliderArrow.svg");
    transform: rotate(180deg);
}

.manufacturers-section_container .swiper-button-next::after {
    content: url("../icons/sliderArrow.svg");
}

.how-it-works-section {
    width: 100%;
    min-height: 1100px;
    background-image: url("../images/howItWorksBackground.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2F2F4;
}

.how-it-works-section_container {
    max-width: 1320px;
    margin: auto;
    padding: 136px 20px;
}

.how-it-works-section_container h2 {
    font-size: 45px;
    color: #111111;
    text-align: center;
    margin: 0;
}

.how-it-works-section_container > p {
    font-family: "FuturaBookC";
    font-size: 22px;
    color:#333333;
    margin-top: 24px;
    text-align: center;
}

.how-it-works-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 46px;
}

.how-it-works-item {
    width: 440px;
    height: 300px;
    padding: 38px;
    background-repeat: no-repeat;
}

.how-it-works-item_content {
    display: flex;
    gap: 0 16px
}

.how-it-works-item_number {
    font-size: 36px;
    font-weight: 700;
    color: #969AF7;
}

.how-it-works-item_title {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    min-height: 42px;
}

.how-it-works-item_text {
    display: block;
    font-family: "FuturaBookC";
    font-size: 18px;
    color:#E3E3E3;
    line-height: 25px;
    margin-top: 28px;
    padding-left: 58px;
}

.how-it-works-item.item-1 {
    background-image: url("../images/howItWorks/item_1.svg");
}

.how-it-works-item.item-2 {
    margin-left: -10px;
    background-image: url("../images/howItWorks/item_2.svg");
}

.how-it-works-item.item-3 {
    width: 414px;
    margin-left: -10px;
    background-image: url("../images/howItWorks/item_3.svg");
}

.how-it-works-item.item-4 {
    width: 414px;
    height: 270px;
    background-image: url("../images/howItWorks/item_4.svg");
}

.how-it-works-item.item-5 {
    margin-left: -10px;
    height: 270px;
    background-image: url("../images/howItWorks/item_5.svg");
}

.how-it-works-item.item-6 {
    margin-left: -10px;
    height: 270px;
    background-image: url("../images/howItWorks/item_6.svg");
}

.how-it-works-section_container button {
    display: block;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    margin: 46px auto 0;
    padding: 18px 50px;
    background-color: #FFA500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.faq-section {
    position: relative;
    width: 100%;
    min-height: 1270px;
    margin-top: -60px;
    padding-top: 60px;
    background-image: url("../images/faqBackground2.svg");
    background-position:  top 1808px right;
    background-repeat: repeat-y;
    background-clip: content-box;
}

.faq-section::after {
    position: absolute;
    content: '';
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    min-width: 1920px;
    background-image:url("../images/faqBackground.svg");
    background-size: 100% 1810px;
    background-position: top right;
    background-repeat: no-repeat;
}

.faq-section_container {
    position: relative;
    z-index: 1;
    max-width: 1320px;
    margin: auto;
    padding: 70px 20px;
}

.faq-section_container h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin: 0;
}

.faq-section_questions {
    margin-top: 50px;
}


.faq-section_question-item:not(:last-child) {
    margin-bottom: 12px;
}

.faq-section_question-item.open .faq-section_answer{
    max-height: none;
    margin-top: -8px;
    padding: 40px 40px 40px 50px;
    transition: all 0.3s linear, margin-top 0s, padding-left 0s, padding-right 0s;
}

.faq-section_question-item.open .faq-section_question {
    background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);
}

.faq-section_question-item.open .faq_arrow {
    background-image: url("../icons/arrowOpen.svg");
    background-color: #fff;
}

.faq-section_question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 50px;
    background: linear-gradient(180deg, #FFFFFF 50.57%, #BDC0FF 100%);
    border-radius: 10px;
}

.faq-section_question p {
    font-family: 'FuturaDemiC';
    font-size: 24px;
    color:#333333;
}

.faq_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #757AEF;
    cursor: pointer;
    user-select: none;
    flex-shrink: 0;
}

.faq-section_answer {
    max-height: 0;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    transition: all 0.3s linear,margin-top 0.2s 0.1s linear, padding-left 0.3s step-end, padding-right 0.3s step-end;
    overflow: hidden;
}

.faq-section_answer p {
    font-size: 20px;
    color:#333333;
}

footer {
    background-color: #333333;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
    min-height: 176px;
    max-width: 1320px;
    margin: auto;
    padding: 0 20px;
}

.footer-container img {
    height: 34px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    flex-grow: 1;
    max-width: 736px;
}

.footer-container a {
    font-family: 'FuturaBookC';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.footer-container button {
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    padding: 18px 50px;
    background-color: #969AF7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1400px) {

    .how-it-works-item {
        background-size: 100% 100%;
    }

    .manufacturers-section_container .swiper-container {
        padding: 0 20px;
    }

    .manufacturers-section_container .swiper-button-prev {
        left: 0;
    }

    .manufacturers-section_container .swiper-button-next {
        right: 0;
    }
}

@media (max-width: 1200px) {

    .nav-container {
        margin-top: 20px;
    }

    .nav-container.sticky {
        margin-top: 0;
        border-radius: 0;
    }

    .nav-container > img {
        position: absolute;
        top: 20px;
    }

    .nav-container .phone-number {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-container nav {
        max-width: none;
        margin: 0;
        flex-grow: 1;
        padding-top: 60px;
    }

    .header-title span:nth-child(1) {
        font-size: 54px;
    }

    .header-title span:nth-child(3) {
        font-size: 46px;
    }

    .header-title span:nth-child(5) {
        font-size: 50px;
    }
}

@media (max-width: 992px) {

    .header-main-content {
        flex-wrap: wrap;
    }

    .header-main-content > div:first-child {
        width: 100%;
    }

    .header-title {
        text-align: center;
        margin-bottom: 32px;
    }

    .feedback-form {
        margin: auto;
    }
}

@media (max-width: 768px)  {

    .nav-container {
        display: none;
    }

    .mobile-nav-container {
        position: fixed;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding:  20px;
        background-repeat: no-repeat;
        background-position-x:center ;
        z-index: 2;
    }

    .mobile-nav-container.sticky {
        background-color: #07086C;
    }

    .mobile-nav-container .mobileLogo{
        width: calc(100% - 76px);
        text-align: center;
    }

    .mobile-nav-container nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: #07086C;
        padding: 20px;
        box-shadow:  0px 18px 20px 0px #6A32B4;
    }

    .mobile-nav-container nav a{
        display: block;
        font-size: 18px;
        text-decoration: none;
    }

    .mobile-nav-container nav a:not(:last-child){
        margin-bottom: 20px;
    }

    .mobile-nav-container .hamburger-lines {
        height: 20px;
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
    }

    .mobile-nav-container .phone-icon {
        display: flex;
        margin-left: 10px;
    }

    .mobile-nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: #6A32B4;
    }

    .mobile-nav-container .hamburger-lines .line1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;
    }

    .mobile-nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .mobile-nav-container .hamburger-lines .line3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;
    }

    .mobile-nav-container input[type="checkbox"]  {
        display: none;
    }

    .mobile-nav-container input[type="checkbox"]:checked ~ nav{
        display: block;
    }

    .mobile-nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .mobile-nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .mobile-nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .header-main-content  {
        margin-top: 120px;
    }

    .header-title span:nth-child(1) {
        font-size: 46px;
    }

    .header-title span:nth-child(5) {
        font-size: 44px;
    }

    .benefits-section_benefit-card {
        width: calc(50% - 20px);
    }

    .how-it-works-item {
        padding: 38px 26px;
    }

    .how-it-works-item_text {
        margin-top: 12px;
        padding-left: 0;
    }

    .how-it-works-item.item-1 {
        width: 440px;
        margin: 0;
        background-image: url("../images/howItWorks/item_1_m.svg");
    }

    .how-it-works-item.item-2,
    .how-it-works-item.item-3,
    .how-it-works-item.item-5,
    .how-it-works-item.item-6 {
        width: 440px;
        height: 300px;
        margin: 0;
        background-image: url("../images/howItWorks/item_2_m.svg");
    }

    .how-it-works-item.item-4 {
        width: 440px;
        order: 2;
        margin: 0;
        background-image: url("../images/howItWorks/item_3_m.svg");
    }

    .how-it-works-item.item-5 {
        order: 1;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 16px
    }

}


@media (max-width: 576px)  {

    .header-main-content  {
        margin-top: 80px;
    }

    .header-title span:nth-child(1) {
        font-size: 32px;
    }

    .header-title span:nth-child(3) {
        font-size: 28px;
    }

    .header-title span:nth-child(5) {
        font-size: 30px;
    }

    .header-benefits {
        margin-top: 32px;
    }

    .benefits-section_subtitle {
        padding: 0;
    }

    .benefits-section_benefit-card {
        width: 100%;
    }

}

@media (max-width: 1400px) and (min-width: 992px) {

    .how-it-works-item {
        height: auto;
        max-width: calc(33% + 8px);
    }

    .how-it-works-item.item-1 {
        margin-bottom: 36px;
    }

    .how-it-works-item.item-2 {
        margin-bottom: 36px;
    }

    .how-it-works-item.item-3,
    .how-it-works-item.item-4 {
        max-width: calc(33% - 16px);
    }

    .how-it-works-item.item-4,
    .how-it-works-item.item-5,
    .how-it-works-item.item-6 {
        height: auto;
    }

}

@media (max-width: 1200px) and (min-width: 768px) {
    .footer-container {
        position: relative;
        padding-top: 70px;
    }

    .footer-container img {
        position: absolute;
        top: 30px;
        width: 190px;
        height: 58px;
        object-fit: contain;
    }

    .footer-container button {
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .footer-container .footer-nav {
        max-width: none;
    }
}


@media (max-width: 992px) and (min-width: 768px) {
    .how-it-works-items {
        align-items: stretch;
    }

    .how-it-works-item {
        max-width: 50%;
        height: auto;
        background-size: 100% 100%;
    }

    .how-it-works-item.item-1 {
        margin-bottom: 36px;
        background-image: url("../images/howItWorks/item_sm_left.svg");
    }

    .how-it-works-item.item-2 {
        padding-bottom: 60px;
        padding-left: 66px;
        background-position: top left 26px;
        background-size: calc(100% - 26px) 100%;
        background-image: url("../images/howItWorks/item_sm_right_corner.svg");
    }

    .how-it-works-item.item-3 {
        order: 2;
        width: 440px;
        margin-bottom: 36px;
        padding-left: 66px;
        background-image: url("../images/howItWorks/item_sm_right_corner_2.svg");
    }

    .how-it-works-item.item-4 {
        order: 4;
        width: 440px;
        height: auto;
        margin-left: -10px;
        padding-left: 66px;
        background-position: top left 26px;
        background-size: calc(100% - 26px) 100%;
        background-image: url("../images/howItWorks/item_sm_right.svg");
    }

    .how-it-works-item.item-5 {
        order: 3;
        height: auto;
        margin-left: 0;
        background-image: url("../images/howItWorks/item_sm_left_corner_2.svg");
    }

    .how-it-works-item.item-6 {
        order: 1;
        height: auto;
        margin-left: 0;
        padding-bottom: 60px;
        background-position: top right 26px;
        background-size: calc(100% - 26px) 100%;
        background-image: url("../images/howItWorks/item_sm_left_corner.svg");
    }
}



